<h1> heroes <small> heroes de DC y Marvels</small></h1>
<hr>
<div class=" card-columns">
    <div class=" card " *ngFor= "let heroe of heroes; let i = index">
        <img class="card-img-top" [src]="heroe.img" alt="card image cap">
        <div class ="card-body">
            <h5 class=" card-title">{{ heroe.nombre }}</h5>
            <p class=" card-text">{{ heroe.bio }}</p>
            <p class=" card-text"><small class ="text-muted">{{ heroe.aparicion }}</small></p>
            <button (click)="verHeroe(i)" class="btn btn-outline-primary btn-block">Ver más...</button>
        </div> 
    </div>
</div>